-#  This file is app/views/movies/index.html.haml
%h2 All Movies

-# Creat check box and Refresh Button
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -#= check_box_tag "ratings[#{rating}]"
   
    = check_box_tag "ratings[#{rating}]", value = "1", checked= (true if @ratings[rating])
  = submit_tag 'Refresh'
-# Creat check box and Refresh Button End



%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      -#%th Movie Title
      -# if click, :sort = title and call movies_controller index method"
      %th{:class => @title_header}= link_to "Movie Title", movies_path(:sort => "title", :ratings=>@ratings), id: "title_header"
      
      %th Rating
      
      -#%th Release Date
      -# if click, :sort = 'release_date' and call movies_controller index method"
      %th{:class => @release_date_header}= link_to "Release Date", movies_path(:sort => "release_date", :ratings=>@ratings), id: "release_date_header"
      
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
